.btnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;;
  }

//   .factBtn {
//     margin-left: 500px;
//     // margin-left: 500px;
//     height: 100px;
//     width: 300px;
//     font-family: 'Sevillana', cursive;
//     font-size: 2rem;
//   }