.factBtn {
  margin-left: 500px;
  // margin-left: 500px;
  height: 100px;
  width: 300px;
  font-family: 'Sevillana', cursive;
  font-size: 2rem;
}

.randomBtn {
  margin-right: 500px;
  font-family: 'Sevillana', cursive;
  font-size: 2rem;
//   background: url("./images/Random-cat-fact-img.png");
  // height: 100px;
  // width: 300px;
//   // object-fit: scale-down;
//   max-width:100%;
// max-height:100%;
}