@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sevillana&display=swap');


body {
  background-image: url("./images/paw-img.jpeg");
}


.gridContainer {
  display: flex;
  justify-content: center;
}

.factGrid {
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  grid-template-rows: 280px 280px 280px;
  // row-gap: 50px;
  // column-gap: 50px;
}





.randomFact {
  height: 12vh;
  width: 90vw;
  // padding-top: 50px;
  padding-left: 50px;
  margin-bottom: 100px;
  font-size: 1.7rem;
  font-family: 'Sevillana', cursive;
  background-color: #FFFEE0;
  border-radius: 50px;
  border: 1px solid green;
}

.randomFactTitle {
  font-family: 'Rubik Vinyl', cursive;
  font-size: 2rem;
}

.randomFactContainer {
display: flex;
justify-content: center;

}