.catFact {
  border: 1px solid green;
}

.factGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.btnContainer {
  width: 100%;
  height: auto;
}

.randomBtn {
//   background: url("./Random-cat-fact-img.png");
//   height: 100px;
//   width: 300px;
//   // object-fit: scale-down;
//   max-width:100%;
// max-height:100%;
}